body{
  font-family: 'Montserrat', sans-serif;
}
h1{

  font-size: 3.5rem;
  font-weight:900;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}
.container-fluid{

  padding: 3% 15% 7%;
}
.download-btn{
  margin: 5% 3% 5% 0%;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* navigation bar */
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat";
}


.fontawesome-icon{
  color: #ef8172;
  font-size: 50px;
  padding-bottom: 15px;
}
.fontawesome-icon:hover{
  color: #ff4c68;
}
.features-col{
  padding: 0 5%;
}
/* testimonial */



.carousel-item{
  padding: 7% 15%;
}

/* title-section */
#title{
  background-color: #ff4c68;
  color: #fff;
}

/* features-section */
#features{
  text-align: center;
  padding: 10% 0;
  position: relative;
  background-color: #fff;
}



/* testimonials-section */



#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin: 5%;
}


/* press-section */



#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{s
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing-section */
#pricing{
  padding: 10%;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;

}
/* cta-section */
#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 5%;
}
.Find{
  font-size: 2.5rem;
  color: #fff;
}



/* footer-section */



#footer{
  padding: 7% 5%;
  text-align: center;
}
.footer-icons{
  margin: 15px 10px;
}
/* media query section */
@media (max-width:1200px) {
  .title-image{
    position: static;
    transform: rotate(0deg);
    text-align: center;
    width: 100%;
    padding: 0% auto;
  }
  .title-line{
    text-align: center;
  }
}
